div.background {
    background: url(back.jpeg);
    border: 1px, solid, black;
    height: auto;
    width: auto;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

div.transbox {
    margin-top: 10px;
    margin-left: 12px;
    border: 1px;
    opacity: 0.8;
    width: 97vw;
    background-color: rgba(0, 0, 0, 0.747);
    text-align: center;
    border-radius: 30%;
    font-size: 30px;
    color: white;
}

.Squad {
    font-size: 50px;
    color: white;
}

#squad img {
    border-radius: 50px;
}

#map i {
    font-size: 55px;
}

#money {
    font-size: 55px;
}

#Money {
    color: #daa520;
    font-size: 55px;
}

#rupsign {
    color: #daa520;
    font-size: 55px;
}

.middle {
    text-align: left;
}

.top li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: bolder;
}

.middle li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: bolder;
}

.bottom li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: bolder;
}

#payButton {
    border-radius: 30%;
    width: 250px;
    height: 100px;
    background-color: blue;
}

#payment1,
#payment2,
#payment3,
#payment4,
#payment5,
#payment6,
#payment7,
#payment8,
#payment9,
#payment10,
#payment11,
#payment12,
#payment13,
#payment14,
#payment15,
#payment16,
#payment17,
#payment18,
#payment19,
#payment20,
#payment21,
#payment22 {
    text-decoration: none;
    color: white;
}

#prizeList {
    border-radius: 30%;
    width: 250px;
    height: 100px;
    background-color: #808000;
}

#prize {
    text-decoration: none;
    color: white;
}

#spot1,
#spot2,
#spot3,
#spot4,
#spot5,
#spot6,
#spot7,
#spot8,
#spot9,
#spot10,
#spot11,
#spot12,
#spot13,
#spot14,
#spot15,
#spot16,
#spot17,
#spot18,
#spot19,
#spot20,
#spot21,
#spot22 {
    box-shadow: 0px 0px 5px 5px #FFFF00;
    border-radius: 50px 50px;
    font-size: 60px;
    left: 50%;
}

/* NAVBAR */

.mobile-container {
  max-width: auto;
  margin: auto;
  
  height: auto;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
 
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}




.active {

  color: white;
}